@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");
.App {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Dosis", sans-serif;
  background-color: #1d1d1d;
  color: white;
  padding-right: 8em; 
  padding-left: 8em;
  /* padding: 50%;
  margin-right: 9rem;
  margin-left: 70px; */
}

/* Navigation */
.navigation{
  position: fixed;
  z-index: 10;
  background-color: #181818;
  width: 8em;
  height: 100em;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.nav_links_div{
  display: flex;
  flex-direction: column;
  text-decoration-color: white;
}

.nav_links_div a{
  color: #909096;
  border-bottom: 3px solid #282828;
  text-decoration: none;
  line-height: 5rem;
}

.nav_links_div a:hover{
  color: #0afffa;
  transition: color .3s, background-color .3s;
  transition-duration: 0.3s, 0.3s;
}
.logo{
  max-width: 100%;
  height: auto;
  border: 1px solid #0afffa;
}
/* Navigation */


/* Home Page  */
.Intro_text{
  /* width: 70vw; */
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 44px;
  /* padding: 10%; */
}

.Intro_text button, .contact_form_class input[type="submit"]{
  background-color: #1d1d1d;
  color: #0afffa;
  border: 3px solid #0afffa;
  max-width: 200px;
  height: 50px;
  font-size: 22px;
}

.Intro_text button:hover, .contact_form_class input[type="submit"]:hover{
  color: #1d1d1d;
  background-color: #0afffa;
  transition-duration: 0.3s, 0.3s;
}
/* Home Page  */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/* .footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

#linkedIn{
  width: 35px;
}

#email{
  width: 40px;
}
#gitHub {
  width: 70px;
}

.fixed-top {
  padding-left: 8%;
  padding-right: 6%;
}

/* project thumbnail */
.skillsTitle,
.resumeTitle {
  margin: 3%;
  margin-bottom: 0;
}

.skillsPics {
  margin-bottom: 2%;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: 4%;
  background-color: black;
  padding: 1%;
}

.skillsText{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language-thumbnail {
  object-fit: cover;
  /* margin: 4%; */
  /* display: grid; */
  /* flex-direction: row; */
  /* max-width: 6rem; */
  max-width: 100px;
  max-height: 100px;
  /* max-height: 50%; */
}

.jsLogo {
  padding: 1%;
  position: relative;
  top: 6px;
}

.project-thumbnail {
  width: 100%;
  height: 420px;
  /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.3); */
}

.projects {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
  /* display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw; */
}

.flip-picture {
  border-radius: 5px;
  width: 300px;
  background-color: transparent;
  perspective: 1000px;
  height: 420px;
}

.flip-card-inner {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-picture:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  color: black;
  background-color: #bbb;
}

.flip-card-back {
  padding: 5%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #0076B9;
  transform: rotateY(180deg);
}

.flip-card-back a {
  font-size: 15px;
}

.flip-card-back-text {
  color: white;
}

.applink {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 45px;
  font-size: 60px;
}

.gitLink {
  width: 90px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: -10px;
  margin: 61px;
}

.website-thumbnail {
  border-radius: 5px;
  width: 600px;
  height: 420px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

/* About Page */

.aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutPara {
  font-size: 22px;
  /* margin-top: 50px; */
  text-align: left;
}

.profilePic {
  border-radius: 10px;
  width: 30em;
  margin: 3%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.aboutMePage{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 0;
}

.aboutTitle{
  text-align: left;
  font-size: 5rem;
}

.skillsDiv,
.skillsTitle {
  color: black;
  background-color: white;
}

.myLinkDiv {
  position: relative;
  top: 25%;
  width: 190px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  /* padding-left: 25%; */
  padding-top: 2%;
}

.myLinks {
  width: 60px;
  height: 50px;
}

.linkedIn {
  height: 40px;
  width: 40px;
}

.gitHub {
  width: 90px;
  position: relative;
  bottom: 5px;
}

.email {
  position: relative;
  bottom: 5px;
}

/* RESUME PAGE */

.resumePic {
  margin-top: 1%;
  margin-bottom: 5%;
  border-radius: 15px;
  width: 70%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

/* CONTACT PAGE */

.contact_form_class{
    width: 100%;
    padding-top: 5rem; 
    display: flex;
    position: relative;
    flex-wrap: wrap;    
}

.contact_form_class input[type="email"], .contact_form_class input[type="text"]{
  height: 50px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 0;
  background: #2e2424;
  font-size: 16px;
  padding: 0 20px;
  width: 100%;
  color: #aca7a7;
  margin: .5rem;
}

.contact_form_class textarea[type="text"]{
  overflow: auto;
  border-radius: 6px;
  box-sizing: border-box;
  border: 0;
  background: #2e2424;
  font-size: 16px;
  padding: 0 20px;
  width: 100%;
  color: #aca7a7;
  margin: .5rem;
}






/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  body {
    text-align: center;
  }

  .projects {
    flex-wrap: wrap;
  }

  .projectCardDiv {
    margin: 3%;
  }
  .aboutDiv {
    margin-top: 0;
    display: flex;
    justify-content: reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
 
  .resumePic {
    width: 90vw;
  }
  .aboutPara {
    width: 90vw;
  }
  .skillsPics {
    margin-bottom: 4%;
  }
}


